@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
:root {
  --main-color: #353535;
  --light-color: #aaa;
  --dark-color: #252525;
}

body {
  background-color: var(--dark-color);
  opacity: 1;
  background-image: radial-gradient(var(--main-color) 0.8px, transparent 0.8px),
    radial-gradient(var(--main-color) 0.8px, var(--dark-color) 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}
button{
  user-select: none;
  cursor: pointer;
}

header {
  background-color: var(--dark-color);
  opacity: 0.8;
  background: radial-gradient(
      circle,
      transparent 20%,
      var(--dark-color) 20%,
      var(--dark-color) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--dark-color) 20%,
        var(--dark-color) 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(var(--main-color) 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, var(--main-color) 2px, var(--dark-color) 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

header {
  height: 4em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding-right: 50px;
}
header button {
  position: relative;
  border-radius: 1rem;
  background-color: var(--light-color);
  color: var(--main-color);
  height: 2rem;
  padding: 5px;
  border: none;
}
header button:hover{
  color: white;
  background-color: darkcyan;
}

header h1 {
  color: white;
  grid-column: 3 / 5;
  font-size: 3rem;
}
header .h2.container{
  color: var(--light-color);
  grid-column: 1 / 2;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.form {
  position: fixed;
  width: 350px;
  height: 350px;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--light-color);
}
.form {
  border: 3px solid white;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}
label{
  color: white;
}
.createForm {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.createForm input[type="text"],
input[type="number"],
input[type="url"] {
  border-radius: 15px;
  border: 2px solid var(--main-color);
  padding: 5px;
}
.createForm input[type="text"] input[type="number"]:focus {
  border: var(--light-color);
  outline: none;
}
.form button {
  border-radius: 2px;
  border: 2px solid var(--light-color);
  width: 150px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
  background-color: var(--dark-color);
  color: white;
}

.main.content {
  padding: 50px;
}
.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 30px;
}

.card:hover {
  transform: scale(1.1) rotate(2deg);
}

.card {
  outline: 2px solid var(--main-color);
  background-color: var(--main-color);
  height: 300px;
  color: white;
  padding: 10px;
  border-radius: 1rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 1px 1px 1px black;
}
.text-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-weight: bold;
  font-size: 30px;
}
.author,
.pages {
  opacity: 0.8;
  font-size: 1em;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
  font-size: 1rem;
}
.del-btn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  opacity: 0.3;
}

.none {
  display: none;
}
